/.~lock.states.xls#
/old/*
/#*
/AF_cty.bin
/AF_cty.dat
/AS_cty.bin
/AS_cty.dat
/BY_cty.bin
/BY_cty.dat
/CQZONE.DAT
/CTYHDG.EXE
/DXCCDOS.DAT
/DXCCDOSMM.DAT
/DXCCWAE.DAT
/DXCCWAEMM.DAT
/EU_cty.bin
/EU_cty.dat
/HISTORY.TXT
/ITUZONE.DAT
/MASTERDX.SCP
/NA_cty.bin
/NA_cty.dat
/README.TXT
/README.md
/SA_cty.bin
/SA_cty.dat
/VK_cty.bin
/VK_cty.dat
/arrl.cty
/history.txt
/iaru.cty
/mwl.csv
/nodes.xls
/readme.txt
/wf1b.dat
/wl_cty.dat
/wpxloc.dat
/wpxloc.raw
/MASTER.SCP.1
/clusters_2016-12-04 de G4BKI.txt
